amqp==1.4.9
aniso8601==1.2.0
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.24
click==6.6
decorator==4.0.10
Flask==0.11.1
Flask-RESTful==0.3.5
gevent==1.1.2
greenlet==0.4.10
grequests==0.3.0
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.8
kombu==3.0.37
MarkupSafe==0.23
psycopg2==2.6.2
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
six==1.10.0
Werkzeug==0.11.11
Flask-Cors==3.0.9
static==0.4
